*{
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}
.flexier{
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.flexy{
    text-align: center;
}
p{
    padding-inline: 15%;
    font-size: clamp(20px, 2vw, 24px);
}
.gpu{
    width:100%;
}
.ssd{
    margin: -8.25rem 0;
    width: 100%;
}
.psu{
    margin: -0.938rem 0;
    width: 100%;
}
.cpu{
    margin: -0.938rem 0;
    width: 100%;
}
.mobo{
    margin: 0 1.563rem;
    width: 85%;
}
li{
    list-style: none;
}
.cpu{
    width: 100%;
}
.ram{
    margin: 0 1.563rem;
    width: 85%;
}
a{
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.75rem;
}
.hlink{
    color: blue;
    text-decoration: underline;
    font-size: 1.5rem;
}
#resourceLink{
    color: blue;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1rem;
}
label{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.875rem 0;
    margin: 0;
    background-color: #353744;
    border: none;
    justify-content: space-around;
    list-style: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
div{
    margin: 0;
}
ul{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.875rem 0;
    margin-top: 0;
    background-color: #353744;
    justify-content: space-around;
    list-style: none;
}
.link{
    text-align: center;
    margin-bottom: .063rem;
    width: 100%;
}
#Header{
    margin-top: 2rem;
    text-align: center;
}
#Footer{
    margin-top: 2rem;
}
@media (min-width: 768px) {
    *{
        font-family: "Open Sans", sans-serif;
    }
    html{
        scroll-behavior: smooth;
        width: 100%;
    }
    body{
        text-align: start;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vw;
    }
    h1{
        font-size: clamp(32px, 2vw, 48px);
        text-align: center;
    }
    h3{
        font-size: clamp(24px, 2vw, 32px);
    }
    a{
        color: white;
        font-weight: normal;
        text-decoration: none;
        font-size: 1.75rem;
    }
    label{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1.875rem 0;
        margin: 0;
        background-color: #353744;
        border: none;
        justify-content: space-around;
        list-style: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
    div{
        margin: 0;
        /* border: 4px solid red; */
    }
    p{
        margin: 0;
        display: inline-block;
        font-size: clamp(16px, 1vw, 20px);
        padding-inline: 10rem;
        padding-block: 2rem;
        /*border: 4px solid red;*/
    }
    .flexier{
        /* border: 4px solid red; */
        align-items: flex-start;
        display: flex;
    }
    ul{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1.875rem 0;
        margin-top: 0;
        background-color: #353744;
        justify-content: space-around;
        list-style: none;
    }
    .cop{
        margin: 2rem;
    }
    .link {
        width: 100%;
        text-align: center;
        margin-bottom: -.063rem;
    }
    .flexer{
        margin: 2rem;
    }
    #Header{
        margin-top: 2rem;
        text-align: center;
    }
    #Footer{
        display: none;
    }
    .flexy{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        padding-inline: 5rem;
        /* border: 4px solid green; */
    }
    .flexier{
        height: 100%;
        display: inline-flex;
        /*border: 4px solid red;*/
        width: 85rem;
    }
    .cpu, .psu{
        margin: 0;
    }
    .mobo, .ram, .cpu{
        width: 22rem;
        height: auto;
    }
    .psu, .gpu, .ssd{
        width: 25rem;
        height: auto;
    }
    h1{
        margin: 0 0 0 2.5rem;
    }
    h3{
        margin: 0 2rem 0 0;
        width: 20rem;
        /*border: 4px solid red;*/
    }
    #ram{
        margin-top: 2rem;
    }
    .flexend{
        margin-bottom: 1.5rem;
    }
    .flexstart{
        margin-top: 1.5rem;
    }
}